
.landing-container {
  font-family: Roboto;
}

 .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .title {
  color: white;
  font-family: inherit;
  font-size: 68px;
  user-select: none;
}

 .profiles {
  display: flex;
  /*
    flex-wrap: row wrap;
  justify-content: space-around;
  */
}
 .profile {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.profile:first-child {
  margin-left: 0px;
}
.profile:last-child {
  margin-right: 0px;
}

 .profile:hover {
  cursor: pointer;
 
}

 .profile:hover .display {
  color: rgb(220, 220, 220);
}

 .profile:hover .image {
    border: 5px solid white;
  }

 .profile .image {

  margin-bottom: 15px;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 5px solid transparent;
}

 .profile .display {
  color: var(--default-gray);
  text-align: center;
  font-size: 22px;
}
